<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    <title><%- title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <script src="/socket.io/socket.io.js"></script>
    <script>
        <%- configs %>
    </script>
    <%- jsTags %>
    <%- cssTags %>


</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48394987-1', 'rrs-lab.com');
  ga('send', 'pageview');

</script>

<div class="shell">
<!-- Header -->
<div id="header">
    <!-- Search  -->
   <!-- <div id="search">
        <div class="search-holder">
            <form action="" method="post">
                <input type="text" class="field" value="Keywords" title="Keywords" />
                <input type="submit" value="" class="submit-button" />
            </form>
            <a class="advanced-search" title="Advanced Search" href="#">Advanced Search</a>
            <div class="cl"></div>
        </div>
    </div> -->
    <!-- END Search -->
    <div class="cl"></div>
    <!-- Logo -->
    <h1 id="logo"><a title="Home" href="#">Mega Store</a></h1>
    <!-- Top Navigation -->
    <div id="top-navigation">
        <ul>
            <% if(user){ %>
                <li><a id="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                <li class="separator"></li>
                <li><span><%- user.firstName %> <%- user.lastName %> </span> (<%- user.username %>)</li>
                <li class="separator"></li>
                <li class="tokens"><span id="tokens-count">0</span> tokens</li>
            <% }else{ %>
            <li><a id="login" href="#login-modal" class="start js-login" title="Login"><i class="fa fa-sign-in"></i> Login</a></li>
            <!-- <li><a id="register" class="end" title="Register" href="#">Register<span></span></a></li> -->
            <% } %>
        </ul>
    </div>
    <!-- END Top Navigation -->
    <div class="cl"></div>
</div>
<!-- END Header -->
<!-- Navigation -->
<!--
<div id="navigation">
    <ul>
        <li><a title="Home" href="#">Home<span class="sep-right"></span></a></li>
        <li>
            <a title="Games" href="#"><span class="sep-left"></span>Gamer<span class="sep-right"></span></a>
        </li>
        <li><a title="Abstract" href="#"><span class="sep-left"></span>abstract<span class="sep-right"></span></a></li>
        <li>
            <a title="Retro" href="#"><span class="sep-left"></span>Retro<span class="sep-right"></span></a>
            <div class="dd">
                <ul>
                    <li><a title="Drop down menu 1" href="#"><span class="sep-left"></span>Drop down menu 1</a></li>
                    <li>
                        <a title="Drop down menu 2" href="#"><span class="sep-left"></span>Drop down menu 2</a>
                        <div class="dd">
                            <ul>
                                <li><a title="Drop down menu 1" href="#"><span class="sep-left"></span><span class="dd-first"></span>Drop down menu 1</a></li>
                                <li><a title="Drop down menu 2" href="#"><span class="sep-left"></span>Drop down menu 2</a></li>
                                <li><a title="Drop down menu 3" href="#"><span class="sep-left"></span>Drop down menu 3</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a title="Drop down menu 3" href="#"><span class="sep-left"></span>Drop down menu 3</a></li>
                </ul>
            </div>
        </li>
        <li><a title="HI Tech" href="#"><span class="sep-left"></span>HI Tech<span class="sep-right"></span></a></li>
        <li><a title="For Children" href="#"><span class="sep-left"></span>For Children<span class="sep-right"></span></a></li>
        <li><a title="For Ladies" href="#"><span class="sep-left"></span>For Ladies<span class="sep-right"></span></a></li>
        <li><a title="Sale!" href="#"><span class="sep-left"></span>sale!</a></li>
    </ul>
    <div class="cl"></div>
</div>  -->
<!-- END Navigation -->
<!-- Main  -->
<div id="main">

<div class="alert">
    <h4>This is a simple <i>DEMO</i> version of penny auction build with Node.js/MongoDB/Socket.io</h4>
    <p>Unfortunatelly, registration is not implemented (since this is a demo <i class="fa fa-smile-o"></i>  ). Please, use following info to login and test
    bids
    <ol>
        <li>Email: <b>peter@example.com</b>, pass: <b>12345678</b></li>
        <li>Email: <b>ana@example.com</b>, pass: <b>12345678</b></li>
        <li>Email: <b>alex.lee@example.com</b>,, pass: <b>12345678</b></li>
    </ol>
    </p>
</div>

<%- body %>


<!-- Footer  -->
<div id="footer">
    <div id="footer-top"></div>
    <div id="footer-middle">
        <div class="col styles">
            <h3>&nbsp;</h3>
        </div>
        <div class="col info">
            <h3>Contact info</h3>
            <ul>
                <li><a title="gamer" href="https://github.com/apedyashev/node-penny-auction"><i class="fa fa-github"></i> Github</a></li>
                <li><a title="abstract" href="http://linkedin.com/pub/alexey-pedyashev/46/62/a76/"><i class="fa fa-linkedin-square"></i> LinkedId</a></li>
            </ul>
        </div>
        <div class="col newsletter">
            <h3>About</h3>
            <p>Simple penny auction demo. Can be <b>improved</b> for your needs</p>
        </div>
        <div class="cl"></div>
    </div>
    <div id="footer-bottom">
        <p class="text-center">&copy; Alexey Pedyashev (2014)</p>
        <p  class="text-center megastore-copy">&copy; MegaStore. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
    </div>
</div>
<!-- END Footer -->
</div>
<!-- END Main -->
</div>

    <div id="login-modal"  style="display:none">
        <form id="login-form" method="post" >
            <div class="row">
                <label class="control-label span3">Email:</label>
                <input type="text" class="span8" name="email" placeholder="Email">
                <span class="js-error-placement hidden error-placement icon span1"><i class="fa fa-exclamation-triangle"></i></span>
            </div>

            <div class="row">
                <label class="control-label span3">Password:</label>
                <input type="password" class="span8" name="password"  placeholder="Password">
                <span class="js-error-placement hidden error-placement icon span1"><i class="fa fa-exclamation-triangle"></i></span>
            </div>

            <div class="row">
                <input type="submit" class="btn btn-ok offset5" value="Login">
            </div>
        </form>
    </div>

</body>
</html>